# Mac OS files
.DS_Store

# IDEs
.idea
.vs
.vscode
.cache

# GitHub files
.github

# Byte-compiled / optimized / DLL / cached files
__pycache__/
*.py[cod]
*$py.class
*.pyc
.temp
*.c
*.so
*.o

# Developing mode
_*.sh
_*.json
*.lst
yard*
*.out
evaluation/evalset_selection
mfa
egs/svc/*wavmark
egs/svc/custom
egs/svc/*/dev*
egs/svc/dev_exp_config.json
egs/svc/dev
bins/svc/demo*
bins/svc/preprocess_custom.py
data
ckpts

# Data and ckpt
*.pkl
*.pt
*.npy
*.npz
*.tar.gz
*.ckpt
*.wav
*.flac
pretrained/wenet/*conformer_exp
pretrained/bigvgan/args.json
!egs/tts/VALLE/prompt_examples/*.wav

# Runtime data dirs
processed_data
data
model_ckpt
logs
*.ipynb
*.lst
source_audio
result
conversion_results
get_available_gpu.py
ckpt/valle_gpt_simple/ar_libritts_dev_clean/checkpoint/epoch-0312_step-0968000_loss-0.000339/pytorch_model.bin
ckpt/valle_gpt_simple/ar_libritts_dev_clean/checkpoint/epoch-0312_step-0970000_loss-0.000049/optimizer.bin
ckpt/valle_gpt_simple/ar_libritts_dev_clean/checkpoint/epoch-0312_step-0970000_loss-0.000049/pytorch_model.bin
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717005416.node01.110012.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717005997.node21.131797.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717006095.node21.133601.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717006126.node21.134279.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717006213.node21.134725.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717006278.node01.111619.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717037129.node01.165991.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717038114.node01.167804.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717038203.node01.168040.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717038711.node01.169086.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717040059.node21.210105.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717040387.node01.172091.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717042306.node01.175569.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717042499.node01.175974.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717042564.node01.176156.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717043592.node01.178038.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717043998.node01.178854.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717044528.node01.179860.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717045210.node01.181131.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717045904.node01.182446.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717046315.node01.183225.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717046754.node01.184278.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717125868.node01.112380.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717126083.node01.113025.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717126289.node01.113690.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717134177.node01.128922.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717134317.node01.129454.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717134724.node01.130518.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717136551.node01.134310.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717139059.node01.139516.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717139346.node01.140356.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717140802.node01.143242.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717140956.node01.143785.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717142740.node03.79038.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/log/ar_libritts_dev_clean/events.out.tfevents.1717142875.node03.79373.0
ckpt/valle_gpt_simple/ar_libritts_dev_clean/checkpoint/epoch-0312_step-0968000_loss-0.000339/optimizer.bin
